[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flask-testing = "*"
blinker = "*"

[requires]
python_version = "3.9"
